.home-logout-btn{
    height: 3rem;
    width: 6rem;
    outline: none;
    border: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10px;
    background-color: rgb(202, 74, 74);
    color: white;
    font-size: 1.2rem;
}

body{
    /* background-image: url("https://flevix.com/wp-content/uploads/2019/12/Blue-Wave-Background-1.svg");
    background-position: center;
    background-size: cover; */
    background-color: #130f40;
}

.template-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.template{
    height: 25rem;
    width: 20rem;
    background-color: whitesmoke;
}

.template img{
    height: 100%;
    width: 100%;
}

#atemp{
    box-shadow: 0px 0px 35px 5px dodgerblue;
}

#btemp{
    box-shadow: 0px 0px 35px 5px indianred;

}

#ctemp{
    box-shadow: 0px 0px 35px 5px black;

}