.p-preview-container{
    justify-content: center;
    display: flex;
    background-image: url("../images/imgpp.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pdfbtn{
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    height: 2.5rem;
    width: 12rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 0, 0);
    color: white;
    font-size: 1rem;
}

.pdfbtn:hover{
    background-color: rgb(202, 74, 74);
}