.preview-container {
  box-shadow: 0px 0px 33px 5px;
  padding: 40px;
  height: -moz-fit-content !important;
  height: fit-content;
  width: 45vw;
  margin-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
}

.template-A {
  color: blue;
}

.template-B {
  color: red;
}

.template-C {
  color: black;
}

p#psum-h.template-C,
p#honr.template-C {
  text-align: center;
  margin-top: 2.3rem;
  font-weight: 600;
  border-bottom: 2px solid gray;
}
p#honr.template-C {
  margin-top: 1.5rem;
}

p#name.template-C {
  text-align: center;
}

p#city-state.template-C {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 25px;
}

p#email.template-C {
  text-align: center;
  font-size: 0.8rem;
  margin-top: -17px;
}


#name {
  font-size: 2rem;
  margin-top: -20px;
}

p#email.template-A,
p#email.template-B {
  font-size: 0.7rem;
  margin-top: -17px;
  margin-left: 2px;
}

#phone {
  font-size: 0.7rem;
  margin-top: -57px;
  text-align: right;
}

p#city-state.template-A,
p#city-state.template-B {
  font-size: 0.8rem;
  margin-top: 28px;
  margin-left: 2px;
}

p#psum-h.template-A,
p#psum-h.template-B {
  margin-top: 2.3rem;
  font-weight: 600;
}

p#psum-h.template-A{
  border-bottom: 2px dotted blue;
}
p#psum-h.template-B{
    border-bottom: 2px dotted red;
  }

#psum {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 0.8rem;
  width: 38.8rem;
}
#oname1 {
  font-size: 0.8rem;
  margin-top: -5px;
  font-weight: 700;
}

#place1 {
  font-size: 0.8rem;
  margin-top: -2.2rem;
  font-weight: 600;
  text-align: right;
}

#crole1 {
  margin-top: -15px;
  margin-left: 0px;
  margin-bottom: 2rem;

  font-size: 0.8rem;
  width: 18rem;
}

#oname2 {
  font-size: 0.8rem;
  margin-top: -5px;
  font-weight: 700;
}

#place2 {
  font-size: 0.8rem;
  margin-top: -2.2rem;
  font-weight: 600;
  text-align: right;
}

#crole2 {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
  width: 18rem;
}

#schoolX {
  font-size: 0.8rem;
  margin-top: -10px;
  font-weight: 600;
}

#placeX {
  font-size: 0.8rem;
  margin-top: -2.2rem;
  font-weight: 600;
  text-align: right;
}

#cgpaX {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
}

#passX {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
}

#schoolXII {
  font-size: 0.8rem;
  margin-top: -10px;
  font-weight: 600;
}

#placeXII {
  font-size: 0.8rem;
  margin-top: -2.2rem;
  font-weight: 600;
  text-align: right;
}

#cgpaXII {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
}

#passXII {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
}

#hsc,
#ssc {
  font-size: 0.9rem;
  font-weight: 800;
}

#ssc {
  margin-top: -0.3rem;
}

#hsc {
  margin-top: 0rem;
}

#honr {
  margin-top: 2.3rem;
  font-weight: 600;
  border-bottom: 2px dotted red;
}

p#honr.template-A{
    border-bottom: 2px dotted blue;
}

p#honr.template-B{
    border-bottom: 2px dotted red;
}

p#honr.template-C{
    border-bottom: 2px solid gray;
}

#college {
  font-size: 0.8rem;
  margin-top: -3px;
  font-weight: 700;
}

#cplace {
  font-size: 0.8rem;
  margin-top: -2.2rem;
  font-weight: 600;
  text-align: right;
}

#cgpa {
  margin-top: -12px;
  text-align: left;
  font-size: 0.8rem;
}

#degree {
  margin-top: -16px;
  margin-left: 0px;
  font-size: 0.8rem;
}

#course {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
}

#year {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 0.8rem;
}
